<xf:title>{{ phrase('trakt_tv_edit_episode') }}</xf:title>

<xf:breadcrumb source="$post.Thread.getBreadcrumbs()" />

<xf:form action="{{ link('tvTrakt/episode/edit', $post) }}" ajax="true" class="block"
	data-xf-init="attachment-manager{{ ($post.isFirstPost() AND $post.canEdit()) ? ' post-edit' : '' }}"
	data-preview-url="{{ link('posts/preview', $post) }}">

	<div class="block-container">
		<div class="block-body">
			<xf:if is="$xf.visitor.hasPermission('forum', 'trakt_edit_episodes')">
				<xf:textboxrow label="{{ phrase('title') }}" name="tv_title" value="{$tvshow.tv_title}" />

				<xf:numberboxrow label="{{ phrase('trakt_tv_season') }}" name="tv_season" value="{$tvshow.tv_season}" min="0" />

				<xf:numberboxrow label="{{ phrase('trakt_tv_episode') }}" name="tv_episode" value="{$tvshow.tv_episode}" min="1" />
			
				<xf:textboxrow label="{{ phrase('trakt_tv_air_date') }}" name="tv_aired" value="{$tvshow.tv_aired}" maxlength="10" />

				<xf:textarearow label="{{ phrase('trakt_tv_guest_stars') }}" name="tv_guest" value="{$tvshow.tv_guest}" autosize="true" />

				<xf:textarearow label="{{ phrase('trakt_tv_overview') }}" name="tv_plot" value="{$tvshow.tv_plot}" autosize="true" />
			<xf:else />
				<input type="hidden" name="tv_title" value="{$tvshow.tv_title}" />
				<input type="hidden" name="tv_season" value="{$tvshow.tv_season}" min="0" />
				<input type="hidden" name="tv_episode" value="{$tvshow.tv_episode}" min="1" />
			
				<input type="hidden" name="tv_aired" value="{$tvshow.tv_aired}" />
				<input type="hidden" name="tv_guest" value="{$tvshow.tv_guest}" />

				<input type="hidden" name="tv_plot" value="{$tvshow.tv_plot}" />
			</xf:if>

			<xf:editorrow name="message" value="{$tvshow.message}"
						  attachments="{$attachmentData.attachments}"
						  rowtype="{{ $quickEdit ? 'fullWidth noLabel' : '' }}"
						  data-min-height="100"
						  maxlength="{$xf.options.messageMaxLength}" />

			<xf:formrow rowtype="{{ $quickEdit ? 'fullWidth noLabel' : '' }}">
				<xf:if is="$attachmentData">
					<xf:macro template="helper_attach_upload" name="upload_block" arg-attachmentData="{$attachmentData}" />
				</xf:if>
				<xf:button class="button--link u-jsOnly" data-xf-click="preview-click" icon="preview" />
			</xf:formrow>
		</div>

		<xf:submitrow icon="save" sticky="true" rowtype="{{ $quickEdit ? 'simple' : '' }}">
			<xf:html>
				<xf:if is="$quickEdit">
					<xf:button class="js-cancelButton">{{ phrase('button.cancel') }}</xf:button>
				</xf:if>
			</xf:html>
		</xf:submitrow>
	</div>
</xf:form>