<xf:if is="$post.isFirstPost() && $thread.traktTV is not empty && !$thread.traktTV.tv_episode">
	<xf:if is="$post.canEdit()">
		<xf:if is="($xf.visitor.hasPermission('forum', 'trakt_edit_shows') && !$thread.traktTV.comment) || $thread.traktTV.comment">
			<xf:js src="xf/message.js" min="1" />
			<a href="{{ link('tvTrakt/edit', $thread.traktTV) }}"
				class="actionBar-action actionBar-action--edit actionBar-action--menuItem"
				data-xf-click="quick-edit"
				data-editor-target="#js-post-{$post.post_id} .js-quickEditTarget"
				data-menu-closer="true">{{ phrase('edit') }}</a>
			<xf:set var="$hasActionBarMenu" value="{{ true }}" />
		</xf:if>
	</xf:if>
</xf:if>