<style>
	@media only screen and (min-width: 580px)
		.aTag {
			margin: 8px;
			flex: 1 0 calc(33.333% - 16px);
			max-width: calc(33.333% - 16px);
	}
	a {
		color: inherit;
		text-decoration: none;
		cursor: pointer;
	}

	@media only screen and (min-width: 580px)
		.cardMain {
			margin: 0px;
	}

	.cardMain {
		position: relative;
		border-radius: 6px;
		overflow: hidden;
		margin: 16px 0px;
		width: 100%;
	}
	div {
		-webkit-tap-highlight-color: transparent;
	}

	.imageDiv2 {
		position: relative;
		width: 100%;
		padding-top: 133.33%;
	}
	.imageDiv {
		width: 100%;
		box-sizing: border-box;
		border-radius: 6px !important;
	}

	.imageDiv span {
		border-radius: 6px !important;
	}
	.ImageClass {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-position: center top;
		background-size: cover;
		border-radius: 6px;
		user-select: auto;
	}

	.imageTopDiv {
		position: absolute;
		top: 0px;
		width: 100%;
		padding: 8px;
		display: flex;
		flex-wrap: wrap;
	}

	.topHeadingLabel2 {
		position: relative;
		display: inline-flex;
		-webkit-box-pack: center;
		justify-content: center;
		box-sizing: border-box;
		font-family: "Source Sans Pro", HelveticaNeue, Helvetica, Arial, Sans;
		-webkit-box-align: center;
		align-items: center;
		text-align: center;
		max-width: 100%;
		cursor: default;
		flex-direction: row;
		height: 16px;
		border-width: 1px;
		border-style: solid;
		font-size: 12px;
		border-radius: 100px;
		padding: 0px 8px;
		color: rgb(255, 255, 255);
		background: rgb(235, 160, 14);
		border-color: rgb(235, 160, 14);
	}

	.topHeadingText {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		line-height: 16px;
	}

	.footerDiv {
		position: absolute;
		width: 100%;
		bottom: 0px;
		color: white;
		padding: 8px;
		background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
	}

	@media only screen and (min-width: 580px)
		.footerText {
			font-size: 20px;
	}
	.footerText {
		font-size: 18px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		width: auto;
	}
	
	.box{
		width: 250px;
	}


</style>

<div class="box">
<a class="aTag" href="/member/935e7a61-5953-48e3-a749-f1faf81108cb">
	<div>
		<div itemindex="1" threshold="0.7" class="cardMain">
			<div class="imageDiv imageDiv2">
				<img src="https://images-cdn.seeking.com/de08a52e-1ca9-4fbd-a72d-b7f3e387ebdf.jpg?Expires=1708350489&Key-Pair-Id=K4U35HJUJS9I6&Signature=FX4AWiLE5s8YRiu6h4Rzft5A1v1amqjY-ODjimCzEtDM1VPcuwut32RsB0iAi8rhFcFbhYKZAzQRdBdzcW86VVDCFY9ED00mN1ZCWpl8q4zgP~FF6aBBQXBUEm9~WzV9qsrPjoSlJppZ35NVVHCs0X59Mb-ziV~LvClkQI1iTsWli66D5ZeX5Mrqw6~np5WWJzVCjoULNgbFr6du-lSfi0GWV5vbR0dreZZdIEGThtW4D~GS40GetET6kxLo-sXlZsgbaht-ehWaWIViHA9qWJIHtEzBlT8hEjGfL9EJ3jgCUdu2-X2AleAVKogt-wY5lKIScq830pWTKjW4jb7DNw__" alt="Example Image" class="ImageClass">
			</div>
			<div class="imageTopDiv">
				<label class="topHeadingLabel topHeadingLabel2">
					<span class="topHeadingText">PREMIUM</span>
				</label>
			</div>
			<div class="footerDiv">
				<div style="display: flex; height: 24px;">
					<div class="footerText" style="font-size: 24px; font-weight: 600; height: 26px; line-height: 24px;">HoneyBee</div>
				</div>
			</div>
		</div>
	</div>
</a>
	</div>