<xf:title>{{ phrase('fs_auto_forum_manage_title') }}</xf:title>

<xf:pageaction>
  <xf:button href="{{ link('forumMng/add') }}" icon="add">{{ phrase('fs_auto_forum_manage_add') }}</xf:button>
</xf:pageaction>
<xf:form action="{{ link($prefix . '/toggle') }}" class="block" ajax="true">
  <div class="block-outer">
		<xf:macro
		  template="filter_macros"
		  name="quick_filter"
		  arg-key="forumMng"
		  arg-class="block-outer-opposite"
		/>
  </div>

  <div class="block-container">

  <xf:if is="$autoForumManager is not empty">
	<div class="block-body">
			<xf:datalist data-xf-init="responsive-data-list">
					
				<xf:macro
					name="table_list"
					arg-autoForumManagerData="{$autoForumManager}"
				  />


				   </xf:datalist>
				<div class="block-footer">
					  <span class="block-footer-counter"
						>{{ display_totals($totalReturn, $total) }}</span
					  >
				</div>
		    
		</div>
       <xf:else />
			<div class="block-body block-row">{{ phrase('no_items_have_been_created_yet') }}</div>
		
       </xf:if>
    
 </div>


   <xf:pagenav
			page="{$page}"
			perpage="{$perPage}"
			total="{$total}"
			link="forumMng"
			wrapperclass="block"
		  />
</xf:form>
<xf:macro
  name="table_list"
  arg-autoForumManagerData="{$autoForumManager}"
>
  <xf:datarow rowtype="header">
    <xf:cell> {{ phrase('fs_cell_auto_forum_admin') }} </xf:cell>
    <xf:cell> {{ phrase('fs_cell_auto_forum_name') }} </xf:cell>
    <xf:cell> {{ phrase('fs_cell_auto_forum_days') }} </xf:cell>
    <xf:cell class="dataList-cell--min"></xf:cell>
	 <xf:cell class="dataList-cell--min"></xf:cell>
  </xf:datarow>
  <xf:foreach loop="{$autoForumManagerData}" value="$value">
    <xf:datarow>
		
          <xf:cell> {$value.User.username} </xf:cell>
          <xf:cell> {$value.Node.title} </xf:cell>
          <xf:cell> {$value.last_login_days} </xf:cell>
		
	<xf:action href="{{ link('forumMng/edit', $value) }}" >{{ phrase('edit') }}</xf:action>
      <xf:delete
        href="{{ link('forumMng/delete', $value) }}"
        overlay="true"
      />
    </xf:datarow>
  </xf:foreach>
</xf:macro>