<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="public" route_prefix="traktMovies" format=":int&lt;thread_id,title&gt;/" controller="nick97\TraktMovies:Movies"/>
  <route route_type="public" route_prefix="traktMovies" sub_name="person" format="person/:int&lt;person_id,name&gt;/" controller="nick97\TraktMovies:Person"/>
</routes>
