<xf:title>{{ phrase('my_watch_list') }}</xf:title>

<xf:wrap template="account_wrapper" />

<div class="block-container">
	<div class="block-body">

		<xf:css src="structured_list.less" />
		<xf:css src="xfrm.less" />

		<!-- Tmdb Movies -->

		<xf:if is="$movies is not empty">

			<xf:macro name="my_watch_list_tmdb_movies" arg-movies="{$movies}" />

		</xf:if>

		<!-- Tmdb Tv & Shows -->

		<xf:if is="$tmdbTvShows is not empty">

			<xf:macro name="my_watch_list_tmdb_tv" arg-tmdbTvShows="{$tmdbTvShows}" />

		</xf:if>

		<xf:if is="$movies is empty AND $traktMovies is empty AND $tmdbTvShows is empty AND $traktTvShows is empty">

			<div class="blockMessage">
				{{ phrase('nick97_watch_list_my_tv_and_movies_empty') }}
			</div>

		</xf:if>

	</div>

</div>


<!-- Tmdb Movies -->

<xf:macro name="my_watch_list_tmdb_movies" arg-movies="!">

	<xf:foreach loop="$movies" value="$movie">

		<div class="structItem structItem--resource">

			<div class="structItem-cell structItem-cell--icon structItem-cell--iconExpanded">
				<div class="structItem-iconContainer">

					<a class="carousel-item-image" href="{{ link('threads', $movie.Thread) }}">
						<img class="tvPoster" src="{$movie.getImageUrl()}">
					</a>

				</div>
			</div>
			<div class="structItem-cell structItem-cell--main" data-xf-init="touch-proxy">

				<div class="structItem-title">

					<a href="{{ link('threads', $movie.Thread) }}" class="" data-tp-primary="on">{$movie.Thread.title}</a>

				</div>

				<xf:if is="$resource.resource_state != 'deleted'">
					<div class="structItem-resourceTagLine">{$movie.tmdb_tagline}</div>
				</xf:if>
			</div>
			<div class="structItem-cell structItem-cell--resourceMeta">

				<dl class="pairs pairs--justified structItem-minor structItem-metaItem structItem-metaItem--status">
					<dt>{{ phrase('nick97_watch_list_status') }}</dt>
					<dd>{$movie.tmdb_status}</dd>
				</dl>

				<dl class="pairs pairs--justified structItem-minor structItem-metaItem structItem-metaItem--release">
					<dt>{{ phrase('nick97_watch_list_release') }}</dt>
					<dd><a href="{{ link('resources/updates', $resource) }}" class="u-concealed">{$movie.tmdb_release}</a></dd>
				</dl>

				<xf:if is="$xf.visitor.hasPermission('nick97_watch_list', 'manage_watchlist')">

					<dl>
						<xf:button href="{{ link('threads/my-watch-list', $movie.Thread) }}" icon="delete" overlay="true">
							{{ phrase('remove') }}
						</xf:button>

						<xf:button href="{{ link('movies/sync', $movie.Thread) }}" icon="refresh" overlay="true">
							{{ phrase('nick97_trakt_movies_sync') }}
						</xf:button>
					</dl>

				</xf:if>

			</div>
		</div>
	</xf:foreach>

</xf:macro>

<!-- Tmdb Tv & Shows -->

<xf:macro name="my_watch_list_tmdb_tv" arg-tmdbTvShows="!">

	<xf:foreach loop="$tmdbTvShows" value="$tv">

		<div class="structItem structItem--resource">

			<div class="structItem-cell structItem-cell--icon structItem-cell--iconExpanded">
				<div class="structItem-iconContainer">

					<a class="carousel-item-image" href="{{ link('threads', $tv.Thread) }}">
						<img class="tvPoster" src="{$tv.getImageUrl()}">
					</a>

				</div>
			</div>
			<div class="structItem-cell structItem-cell--main" data-xf-init="touch-proxy">

				<div class="structItem-title">

					<a href="{{ link('threads', $tv.Thread) }}" class="" data-tp-primary="on">{$tv.Thread.title}</a>

				</div>

				<xf:if is="$resource.resource_state != 'deleted'">
					<div class="structItem-resourceTagLine">{$tv.tv_genres}</div>
				</xf:if>
			</div>
			<div class="structItem-cell structItem-cell--resourceMeta">

				<dl class="pairs pairs--justified structItem-minor structItem-metaItem structItem-metaItem--status">
					<dt>{{ phrase('nick97_watch_list_status') }}</dt>
					<dd>{$tv.status}</dd>
				</dl>

				<dl class="pairs pairs--justified structItem-minor structItem-metaItem structItem-metaItem--release">
					<dt>{{ phrase('nick97_watch_list_release') }}</dt>
					<dd><a href="{{ link('resources/updates', $resource) }}" class="u-concealed">{$tv.tv_release}</a></dd>
				</dl>

				<dl>
					<xf:button href="{{ link('threads/my-watch-list', $tv.Thread) }}" icon="delete" overlay="true">
						{{ phrase('remove') }}
					</xf:button>

					<xf:button href="{{ link('tv/sync', $tv.Thread) }}" icon="refresh" overlay="true">
						{{ phrase('nick97_trakt_tv_sync') }}
					</xf:button>
				</dl>

			</div>
		</div>
	</xf:foreach>

</xf:macro>