<xf:if is="$context == 'create' AND $subContext == 'quick'">
	<xf:set var="$rowType" value="fullWidth noGutter mergeNext" />
<xf:elseif is="$context == 'edit' AND $subContext == 'first_post_quick'" />
	<xf:set var="$rowType" value="fullWidth mergeNext" />
<xf:else />
	<xf:set var="$rowType" value="" />
</xf:if>

<xf:textboxrow name="nick97_movies_trakt_id" value="{$thread.traktMovie.trakt_id}"
			   label="{{ phrase('trakt_movies_link_id') }}"
			   explain="{{ phrase('trakt_movies_explain_link') }}"
			   rowtype="{$rowType}"
			   disabled="{{ $context == 'edit' }}" />