<xf:macro name="crew_list" arg-movie="!" arg-crews="!" arg-page="1" arg-hasMore="{{ false }}">
	<ul class="listPlain listColumns listColumns--3 listColumns--spaced js-movieCrewList{$movie.trakt_id}">
		<xf:foreach loop="{$crews}" value="$crew">
			<li>
				<xf:macro name="crew_info" arg-crew="{$crew}" />
			</li>
		</xf:foreach>
	</ul>

	<xf:if is="$hasMore">
		<div class="block-footer js-movieCrewLoadMore{$movie.trakt_id}">
			<span class="block-footer-controls">
				<xf:button href="{{ link('traktMovies/crews', $movie, {'page': $page + 1}) }}"
					data-xf-click="inserter"
					data-append=".js-movieCrewList{$movie.trakt_id}"
					data-replace=".js-movieCrewLoadMore{$movie.trakt_id}">
					{{ phrase('more...') }}
				</xf:button>
			</span>
		</div>
	</xf:if>
</xf:macro>

<xf:macro name="crew_info" arg-crew="!">
	<div class="block-row block-row--separated">
		<div class="contentRow movieTab--crews">
			<span class="contentRow-figure contentRow-figure--fixedMedium contentRow-figure--fixedMedium contentRow-figure--fluidWidth">
				<xf:if is="{$crew.Person.image_url}">
					<img src="{$crew.Person.image_url}" />
				<xf:else />
					<img src="{{ base_url(property('trakt_movies_crewPersonSmallImageUrl')) }}" />
				</xf:if>
			</span>

			<div class="contentRow-main">
				<xf:macro name="person_menu" arg-person="{$crew.Person}" />
				<h3 class="block-textHeader">
					{$crew.Person.name} ({$crew.department})
				</h3>
				{$crew.job}
			</div>
		</div>
	</div>
</xf:macro>

<xf:macro name="person_menu" arg-person="!">
	<xf:if contentcheck="true">
		<div class="contentRow-extra">

			<xf:button class="button--link menuTrigger"
					   data-xf-click="menu"
					   aria-label="{{ phrase('more_options') }}"
					   aria-expanded="false"
					   aria-haspopup="true">
				<xf:fa icon="fa-cog" />
			</xf:button>

			<div class="menu" data-menu="menu" aria-hidden="true">
				<div class="menu-content">
					<xf:contentcheck>
						<xf:if is="$person.canUpdate()">
							<a href="{{ link('traktMovies/person/update', $person) }}" data-xf-click="overlay" class="menu-linkRow">{{ phrase('trakt_movies_update_person_info') }}</a>
						</xf:if>
					</xf:contentcheck>
				</div>
			</div>
		</div>
	</xf:if>
</xf:macro>